html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  margin: 0;
  background-color: #fff;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
.appbar-logo{
  height : 40px;
}
* {
  box-sizing: border-box;
}
